<mat-toolbar class="nav mat-elevation-z4">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"  *ngIf="isLoggedIn">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a routerLink="Home">
        <mat-icon>people</mat-icon>
          <span>Usuários</span>
      </a>
      </button>

      <button mat-menu-item>
        <mat-icon>person</mat-icon>
          <span>Perfil</span>
      </button>

      <button mat-menu-item (click)="lougt()">
        <mat-icon>meeting_room</mat-icon>
          <span>Logout</span>
      </button>
    </mat-menu>

    <a routerLink="/">
      <span>Projeto</span>
  </a>
</mat-toolbar>
