.container {
  padding-left: 20px;
    margin: .5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.table-card{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.create-button{
    margin-right: 5px;
    margin-bottom: 2em;
    padding: 1em;
}
.actions{
  width: 10px;
}

  table{
    width: 100%;
  }

  a{
    cursor: pointer;
  }
.icons:nth-child(2) {
  margin-left: 10px; /* adiciona um espaço de 10 pixels à esquerda da segunda div */
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
